.af-pictures-group label input {
    position:absolute;
    visibility: hidden; /* Makes input not-clickable */
    top:-20px;
}

.af-pictures-group label input + div {
    cursor: pointer;
    border: 2px solid transparent;
    width: 200px;
    height: 150px;
}

.af-pictures-group label input:checked + div {
    border:2px solid red;
}

.af-pictures-group label input:disabled + div {
    border: 2px solid transparent;
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
}

